{{- define "main" -}}

{{- $all_news := site.Data.news.news_list -}}

  <div class="container  page-news ">
    <div class="article-title mt-4 mb-4">
        <h1 class="mb-0 common-page-h1-title">
          {{ .Title | markdownify | emojify }}
        </h1>
        {{ with .Params.subtitle }}
        <p class="mt-1 common-page-subtitle">{{ . | markdownify | emojify }}</p>
        {{ end }}
      </div>


    {{ with .Content }}
      <div class="article-style">{{ . }}</div>
    {{ end }}



    <div class="news-list-wrap mt-5">
      {{ range $index, $item := $all_news }}

         {{$img_item := dict
              "src"  $item.lead_image
              "class"  "news-lead-img"
              "style"  ""
         }}

          <div class="news-item   n-index{{$index}}  row">
            <div class="col-12 col-md-3 ">
              <div class="lead-content">

                <div class="news-date">{{$item.date | markdownify | emojify }}</div>
                {{if $item.lead_image}}
                  {{ partial "components/image_click.html" (dict
                  "page" .
                  "index" $index
                  "img_item" $img_item
                  )}}
                {{end}}
              </div>
            </div>
            <div class="col-12 col-md-9 news-content">
              {{$item.content | markdownify | emojify }}
            </div>
          </div>

      {{ end }}
    </div>




  </div>

{{- end -}}
